<div class="contact">
    <div class="div-5">
      <div class="BT-wrapper">
          <div class="div-2">
            <button class="BT-2" mat-raised-button>Découvrir nos valeurs</button>
          </div>
      </div>
      <div class="txt">
        <p class="text-wrapper-35">Vous avez une question ?</p>
        <p class="text-wrapper-36">
          Vous ne trouvez pas un guide, vous avez besoin d’un conseil
          ou vous avez une idée pour améliorer le site ?
        </p>
      </div>
    </div>
    <div class="div-5">
      <div class="overlap-2">
        <img
          class="illus-ambassadeur"
          [src]="ambassadeur"
        />
        <button class="BT-3" mat-raised-button>Téléchargez notre kit de communication</button>
        <div class="txt-2">
          <div class="text-wrapper-37">Devenez ambassadeur !</div>
          <p class="text-wrapper-36">
            Vous aimez EBM France et vous voulez promouvoir le site
            auprès de vos collègues ou de vos étudiants ?
          </p>
        </div>
      </div>
    </div>
  </div>