<div class="footer">
    <div class="NL">
        <form class="form-container">
            <div class="input-container">
              <input class="champs" type="text" name="search" placeholder="Votre adresse email">
              <button mat-raised-button class="ok-button">OK</button>
            </div>
          </form>
      <div class="text-wrapper-27">La newsletter EBM France</div>
      
      <p class="recevez-toutes-les">
        <span class="text-wrapper-28"
          >Recevez toutes les infos sur nos guides
        </span>
        <span class="span">tous les mois </span>
        <span class="text-wrapper-28">dans votre boite mail !</span>
      </p>
    </div>
    <div class="footer-2">
      <div class="liens-bas">
        <div class="text-wrapper-29">© 2023 EBM France</div>
        <p class="text-wrapper-29">
          Dernière mise à jour technique décembre 2023
        </p>
      </div>
      <div class="col">
        <div class="logos">
          <p class="text-wrapper-30">
            Porté par le Collège de la Médecine Générale
          </p>
          <img class="logo-CMG" [src]="logoCmg" />
        </div>
        <div class="logos">
          <div class="text-wrapper-31">Financé par</div>
          <img class="frame-22" [src]="frame612" />
        </div>
      </div>
      <div class="col-2">
        <div class="text-wrapper-32">Mes favoris</div>
        <div class="text-wrapper-33">Contactez-nous</div>
        <p class="text-wrapper-33">Politique de gestion de données</p>
        <div class="text-wrapper-33">
          Conditions générales d’utilisation
        </div>
        <div class="text-wrapper-33">Mentions légales</div>
      </div>
      <div class="col-3">
        <div class="text-wrapper-32">Nos valeurs</div>
        <div class="text-wrapper-33">Notre ligne éditoriale</div>
        <div class="text-wrapper-33">Notre équipe</div>
        <div class="text-wrapper-33">Les actus</div>
        <div class="text-wrapper-33">Aide</div>
      </div>
      <p class="text-wrapper-34">
        EBM France est une base de connaissances médicales gratuite
        adaptée à la pratique de la médecine générale.
      </p>
      <img class="logo-EMB" [src]="logoEmb" />
    </div>
  </div>