<div class="barre-info">
  <div class="frame">
    <div class="frame-wrapper">
      <div class="div-wrapper">
        <div class="frame-2">
          <div class="div-2">
            <p class="text-wrapper-5">
              Vous êtes interne ?&nbsp;&nbsp;Vous pouvez vous
              inscrire lorem ipsum dolor sit amet
            </p>
          </div>
          <div class="text-wrapper-5">-</div>
          <div class="div-2">
            <p class="text-wrapper-5">
              Vous êtes interne ?&nbsp;&nbsp;Vous pouvez vous
              inscrire lorem ipsum dolor sit amet
            </p>
          </div>
          <div class="text-wrapper-5">-</div>
          <div class="div-2">
            <p class="text-wrapper-5">
              Vous êtes interne ?&nbsp;&nbsp;Vous pouvez vous
              inscrire lorem ipsum dolor sit amet
            </p>
          </div>
          <div class="text-wrapper-5">-</div>
          <div class="div-2">
            <p class="text-wrapper-5">
              Vous êtes interne ?&nbsp;&nbsp;Vous pouvez vous
              inscrire lorem ipsum dolor sit amet
            </p>
          </div>
          <div class="text-wrapper-5">-</div>
        </div>
      </div>
    </div>
  </div>
</div>
