.barre-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 16px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #f8e0d84c;
  right: 2%;
  /* right: 20px; */
}
.frame {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.div-wrapper {
  position: relative;
  width: 1440px;
  height: 21px;
  overflow: hidden;
}

.frame-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  left: 40px;
}

.div-2 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--violet);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}
@keyframes scrollBanner {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } /* Move by half the total content width */
}

.frame-2 {
  display: flex;
  white-space: nowrap;
  animation: scrollBanner 20s linear infinite; /* Adjust time as needed */
}

