.example-box.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-chip .cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tag {
  background: purple !important;
  color: #fff !important;
  font-family: "Inter", Helvetica, serif !important;
}


/*.mdc-evolution-chip__text-label mat-mdc-chip-action-label {*/
/*  font-family: "Inter", Helvetica, serif !important;*/
/*  font-size: 100px !important;*/
/*  font-weight: 500 !important;*/
/*}*/
