<!--<mat-chip-set-->
<!--  class="example-chip tags"-->
<!--  cdkDropList-->
<!--  cdkDropListOrientation="horizontal"-->
<!--  (cdkDropListDropped)="drop($event)">-->
<!--  @for (tag of tags; track tags) {-->
<!--    <mat-chip class="example-box tag" cdkDrag>{{ tag.name }} ({{ tag.count }})</mat-chip>-->
<!--  }-->
<!--</mat-chip-set>-->

<mat-chip-listbox aria-label="Fruit selection tags">
  <mat-chip-option>Allergologie(11)</mat-chip-option>
  <mat-chip-option>Cancérologie (22)</mat-chip-option>
  <mat-chip-option>Cardiologie, chirurgie vasculaire (74)</mat-chip-option>
  <mat-chip-option>Dermatologie (86)</mat-chip-option>
  <mat-chip-option>Endocrinologie (46)</mat-chip-option>
  <mat-chip-option>Gastro-entérologie (76)</mat-chip-option>
  <mat-chip-option>Général (22)</mat-chip-option>
  <mat-chip-option>Gériatrie (25)</mat-chip-option>
  <mat-chip-option>Gynécologie-obstétrique (79)</mat-chip-option>
  <mat-chip-option>Hématologie (35)</mat-chip-option>
  <mat-chip-option>Infectiologie (99)</mat-chip-option>
  <mat-chip-option>Médecine interne (12)</mat-chip-option>
  <mat-chip-option>Neurologie (87)</mat-chip-option>
  <mat-chip-option>Orl, stomatologie, maxilofacial (68)</mat-chip-option>
  <mat-chip-option>Parasitologie (35)</mat-chip-option>
  <mat-chip-option>Pneumologie (51)</mat-chip-option>
  <mat-chip-option>Psychiatrie, addictologie (71)</mat-chip-option>
  <mat-chip-option>Rhumatologie (63)</mat-chip-option>
  <mat-chip-option>Traumatologie (57)</mat-chip-option>
  <mat-chip-option>Urgences (15)</mat-chip-option>
  <mat-chip-option>Urologie, néphrologie (53)</mat-chip-option>
</mat-chip-listbox>




