.ic-search {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

mat-option  {
    color: var(--violet) !important;
}

.mat-primary {
    color: var(--violet) !important;
}

:host ::ng-deep .mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 28px;
}


:host ::ng-deep .mat-mdc-text-field-wrapper mdc-text-field ng-tns-c1798928316-0 mdc-text-field--outlined {
    background: #fff !important;
}

mat-form-field {
    border-radius: 30px !important;
    height: 54px !important;
    background: #fff !important;
}