<form class="example-form">
<mat-form-field appearance="outline" class="rounded-mat-field" [ngStyle]="{'width': width}">
    <mat-icon matPrefix class="ic-search">search</mat-icon>
    <mat-label>Rechercher par mot clé : pathologie, symptôme, thématique, outil…</mat-label>
    <input matInput #searchInput [formControl]="searchControl" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        @for (option of filteredOptions | async; track option) {
            <mat-option [value]="option">{{option}}</mat-option>
        }
    </mat-autocomplete>
</mat-form-field>
</form>


