<div class="element-home-non-connected">
  <div class="overlap-wrapper">
    <div class="overlap">
      <div class="bg-rose"></div>
      <div class="KV-et-rsp">
        <div class="overlap-group">
          <app-bg></app-bg>
          <app-introductory-text></app-introductory-text>
          <img class="illus-home" [src]="illusHome" />
              <app-medical-specialties></app-medical-specialties>
              <app-medical-specialties-images></app-medical-specialties-images>
        </div>
      </div>
      <app-navbar></app-navbar>
    </div>
    <div class="content">
      <app-barre-info></app-barre-info>
      <app-frame3></app-frame3>
      <div class="contenus-container">
        <app-contenus></app-contenus>
      </div>
    </div>
    <app-frame16></app-frame16>
  </div>
</div>
