.element-home-non-connected {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element-home-non-connected .overlap-wrapper {
  background-color: var(--blanc);
  width: 100vw; /* Full viewport width */
  min-height: 100vh; /* Minimum height of full viewport height */
}

.element-home-non-connected .overlap {
  position: relative;
  height: 6023px;
}

.element-home-non-connected .KV-et-rsp {
  position: absolute;
  width: 100vh;
  height: 100vh;
  top: 48px;
  left: 204px;
}

.element-home-non-connected .overlap-group {
  position: relative;
  height: 819px;
}

.element-home-non-connected .illus-home {
  position: absolute;
  width: 520px;
  height: 472px;
  top: 48px;
  left: 920px;
}

.element-home-non-connected .content {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 120px;
  position: absolute;
  top: 867px;
  left: 233px;
}

.contenus-container {
  padding-top: 120px;
}

.element-home-non-connected .bas-de-page {
  position: absolute;
  width: 1440px;
  height: 1495px;
  top: 4528px;
  left: 0;
  background-color: var(--blanc);
}

@media screen and (max-width: 1024px) {
  .element-home-non-connected .content {
    padding: 0px 0px 5vw;
    margin-top: 10vh;
    width: 50%;
  }
}