.frame-16 {
    display: flex;
    flex-direction: column;
    width: 1440px;
    align-items: center;
    position: absolute;
    top: 3051px;
    right: 25%;
  }

  
  .frame-17 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 24px 0px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #4c169033;
    left: 17%;
    
  }

  .frame {
    padding-right: 270px;
  }
  
  .layer {
    position: relative;
    height: 24px;
  }
  
  
  .vector-6 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 1073px;
    left: -6099px;
  }
  
  .union-2 {
    position: absolute;
    width: 20px;
    height: 19px;
    top: 26px;
    left: 22%;
  }
  
  .text-wrapper-22 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: var(--violet);
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
    margin-left: 300px;
  }
  
  .valeurs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 160px 0 0 150px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: var(--rose-clair);
    left: 17%;
  }
  
  .div-4 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    position: relative;
    flex: 0 0 auto;
    right: 9%;
  }
  
  .text-wrapper-23 {
    position: relative;
    width: 517px;
    margin-top: -1px;
    font-family: var(--h1-font-family);
    font-weight: var(--h1-font-weight);
    color: var(--violet);
    font-size: var(--h1-font-size);
    letter-spacing: var(--h1-letter-spacing);
    line-height: var(--h1-line-height);
    font-style: var(--h1-font-style);
  }
  
  .valeurs-2 {
    position: relative;
    width: 555px;
    height: 901px;
  }
  
  .frame-18 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    top: 1px;
  }

  .line-2 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 1px;
    margin-top: -1px;
    object-fit: cover;
  }

  .illus-home-allie {
    position: absolute;
    width: 718px;
    height: 916px;
    top: 3158px;
    left: 45%;
  }

  :host ::ng-deep mat-expansion-panel-header {
    height: 100% !important;

  
  }

  .header {
    color: #4C1690;
    font-weight: 600;
    width: 400px !important;
  }

  mat-icon {
    margin-left: 42px;
  }

  :host ::ng-deep mat-expansion-panel {
    background-color: transparent !important;
  }
  
  .BT {
    display: inline-flex;
    height: 64px;
    align-items: center;
    gap: 8px;
    padding: 8px 24px;
    border-radius: 100px;
    border: 1px solid;
    border-color: var(--violet);
    background: transparent !important;
    color: var(--violet) !important;
  }

  mat-expansion-panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .icons-right {
    display: flex;
    align-items: center;
    color: #4C1690;
  }