<div class="frame-16">
    <div class="frame-17">
      <div class="frame">
        <div class="message-chat-warning">
          <div class="layer">
            <img class="vector-6" src="img/vector.png" />
            <img class="union-2" src="img/union.svg" />
          </div>
        </div>
        <p class="text-wrapper-22">
          Ce qui se trouve sur EBM France ne se substitue pas à la
          responsabilité décisionnelle des professionnels de la médecine
          générale.
        </p>
      </div>
    </div>
    <div class="valeurs">
      <div class="div-4">
        <p class="text-wrapper-23">
          EBM France, l’allié du médecin généraliste
        </p>
        <div class="valeurs-2">
          <div class="frame-18">
            <div class="div-4">
              <div class="frame-19">
                <div class="frame-20">
                  <img class="line-2" src="img/line-1-4.svg" />
                  <div class="titre">
                    <p class="EBM-l-alli-du-m">
                      Gagnez du temps et de la sérénité pendant vos
                      consultations
                    </p>
                    <img class="icone" src="img/icone-8.svg" />
                  </div>
                </div>
                <p class="nous-avons-con-u-EBM">
                  Nous avons conçu EBM France pour mettre à votre
                  disposition la bonne information au bon moment et vous
                  accompagner dans le processus de décision partagée en
                  santé.
                </p>
                <p class="gr-ce-nos-guides-de">
                  <span class="text-wrapper-15"
                    >Que vous souhaitiez rechercher une information
                    nouvelle, vérifier une connaissance, valider un
                    diagnostic, trouver un outil pratique...
                  </span>
                  <span class="span"
                    >EBM France est à votre service.</span
                  >
                </p>
              </div>
              <div class="frame-21">
                <div class="lien-wrapper">
                  <div class="div-2">
                    <div class="text-wrapper-24">
                      Découvrir nos valeurs
                    </div>
                  </div>
                </div>
                <div class="padding"></div>
              </div>
            </div>
            <div class="div-4">
              <div class="frame-19">
                <div class="frame-20">
                  <img class="line-2" src="img/line-1-4.svg" />
                  <div class="titre">
                    <p class="EBM-l-alli-du-m-2">
                      Des sources fiables et à jour, un financement
                      public
                    </p>
                    <img class="icone" src="img/icone-7.svg" />
                    <img class="icone" src="img/icone-6.svg" />
                  </div>
                </div>
              </div>
            </div>
            <img class="icone-2" src="img/icone-5.svg" />
            <div class="div-4">
              <div class="frame-19">
                <div class="frame-20">
                  <img class="line-2" src="img/line-1-4.svg" />
                  <div class="titre">
                    <p class="EBM-l-alli-du-m-2">
                      La plus grande base de données de médecine
                      générale en langue française
                    </p>
                    <img class="icone" src="img/icone-4.svg" />
                    <img class="icone" src="img/icone-3.svg" />
                  </div>
                </div>
              </div>
            </div>
            <div class="div-4">
              <div class="frame-19">
                <div class="frame-20">
                  <img class="line-2" src="img/line-1-4.svg" />
                  <div class="titre">
                    <p class="EBM-l-alli-du-m-2">
                      Une équipe éditoriale de généralistes du Collège
                      de la Médecine Générale
                    </p>
                    <img class="icone" src="img/icone-2.svg" />
                    <img class="icone" src="img/icone-1.svg" />
                  </div>
                </div>
              </div>
            </div>
            <img class="icone-3" src="img/icone.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <img
    class="illus-home-allie"
    [src]="illusHome"
  />