<div class="frame-16">
  <div class="frame-17">
    <div class="frame">
      <div class="message-chat-warning">
        <div class="layer">
          <img class="vector-6" [src]="vector" />
          <img class="union-2" [src]="union" />
        </div>
      </div>
      <p class="text-wrapper-22">
        Ce qui se trouve sur EBM France ne se substitue pas à la responsabilité
        décisionnelle des professionnels de la médecine générale.
      </p>
    </div>
  </div>
  <div class="valeurs">
    <div class="div-4">
      <p class="text-wrapper-23">EBM France, l’allié du médecin généraliste</p>
      <div class="valeurs-2">
        <div class="frame-18">
          <img class="line-2" [src]="line14" />
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <h1 class="header">
                  Gagnez du temps et de la sérénité pendant vos consultations
                </h1>
              </mat-expansion-panel-header>
              <p>
                <strong
                  >Nous avons conçu EBM France pour mettre à votre disposition
                  la bonne information au bon moment et vous accompagner dans le
                  processus de décision partagée en santé.</strong
                >
              </p>
           
              <p>
                Que vous souhaitiez rechercher une information nouvelle,
                vérifier une connaissance, valider un diagnostic, trouver un
                outil pratique...
                <strong>EBM France est à votre service.</strong>
              </p>
           <br>
           <br>

              <button class="BT" mat-raised-button>Découvrir nos valeurs</button>
            </mat-expansion-panel>
          </mat-accordion>
          
          <img class="line-2" [src]="line14" />
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <h1 class="header">
                Des sources fiables et à jour, un financement public
              </h1>
            </mat-expansion-panel-header>
            <p>
              <strong
                >Nous avons conçu EBM France pour mettre à votre disposition
                la bonne information au bon moment et vous accompagner dans le
                processus de décision partagée en santé.</strong
              >
            </p>
         
            <p>
              Que vous souhaitiez rechercher une information nouvelle,
              vérifier une connaissance, valider un diagnostic, trouver un
              outil pratique...
              <strong>EBM France est à votre service.</strong>
            </p>
         <br>
         <br>

            <button class="BT" mat-raised-button>Découvrir nos valeurs</button>
          </mat-expansion-panel>

          <img class="line-2" [src]="line14" />
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <h1 class="header">
                La plus grande base de données de médecine générale en langue française
              </h1>
            </mat-expansion-panel-header>
            <p>
              <strong
                >Nous avons conçu EBM France pour mettre à votre disposition
                la bonne information au bon moment et vous accompagner dans le
                processus de décision partagée en santé.</strong
              >
            </p>
         
            <p>
              Que vous souhaitiez rechercher une information nouvelle,
              vérifier une connaissance, valider un diagnostic, trouver un
              outil pratique...
              <strong>EBM France est à votre service.</strong>
            </p>
         <br>
         <br>

            <button class="BT" mat-raised-button>Découvrir nos valeurs</button>
          </mat-expansion-panel>

          <img class="line-2" [src]="line14" />
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <h1 class="header">
                Une équipe éditoriale de généralistes du Collège de la Médecine Générale
              </h1>
            </mat-expansion-panel-header>
            <p>
              <strong
                >Nous avons conçu EBM France pour mettre à votre disposition
                la bonne information au bon moment et vous accompagner dans le
                processus de décision partagée en santé.</strong
              >
            </p>
         
            <p>
              Que vous souhaitiez rechercher une information nouvelle,
              vérifier une connaissance, valider un diagnostic, trouver un
              outil pratique...
              <strong>EBM France est à votre service.</strong>
            </p>
         <br>
         <br>

            <button class="BT" mat-raised-button>Découvrir nos valeurs</button>
          </mat-expansion-panel>
        </div>
      </div>
    </div>
  </div>
</div>
<img class="illus-home-allie" [src]="illusHome" />
