
h2[mat-dialog-title] {
    color: #4C1690;
    font-size: 2rem;
    font-family: "Inter", Helvetica, sans-serif !important;
    font-weight: 600;
  }

 .content {
    font-family: "Inter", Helvetica, sans-serif !important;
  }
  
  mat-dialog-content p {
    font-family: "Inter", Helvetica, sans-serif !important;
    color: black;
  }
  
  mat-dialog-actions {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 20px;
  
    .or-separator {
      text-align: center;
      margin: 20px 0;
    }
  
    button {
      margin-top: 10px;
    }
  
    /* Style specific buttons if needed */
  }

  .strong {
    font-weight: 500;
  }
  