<div class="contenus">
    <p class="text-wrapper-13">
      Nos contenus en toute transparence
    </p>
    <div class="frame-13">
      <div class="element-3">
        <div class="frame-14">
          <p class="text-wrapper-14">
            Les recommandations HAS synthétisées &amp; adaptées à
            notre pratique
          </p>
          <p class="div-3">
            <span class="text-wrapper-15"
              >En collaboration étroite avec la HAS, les
              recommandations nationales font l&#39;objet d&#39;un
              travail de
            </span>
            <span class="span">synthèse</span>
            <span class="text-wrapper-15">
              et de sélection des éléments les plus pertinents pour
              la pratique par l&#39;équipe EBM France, avec
              l&#39;appui du conseil scientifique.</span
            >
          </p>
        </div>
        <img class="logo" [src]="logo" />
      </div>
      <div class="element-4">
        <div class="frame-14">
          <p class="text-wrapper-14">
            Des guides européens couvrant tout le champ de la
            médecine générale
          </p>
          <p class="les-guides-de-la">
            <span class="text-wrapper-15"
              >Les guides de la collection EBMGuidelines, édités par
              la société scientifique finlandaise Duodecim, sont
              élaborés
            </span>
            <span class="text-wrapper-16"
              >à partir des revues Cochrane</span
            >
            <span class="text-wrapper-15">
              selon un processus validé par le NICE. Nos équipes les
              traduisent et les
            </span>
            <span class="text-wrapper-17">adaptent </span>
            <span class="text-wrapper-18"
              >aux dernières recommandations médicales
              françaises.</span
            >
          </p>
          <img
            class="ic-contextualise"
            [src]="icContextualise"
          />
        </div>
        <div class="frame-4">
          <div class="frame-15">
            <div class="text-wrapper-19">EBM</div>
            <div class="text-wrapper-20">Guidelines</div>
          </div>
          <p class="guides-europ-ens">
            Guides européens élaborés<br />à partir des revues
            Cochrane
          </p>
        </div>
        <div class="rectangle-4"></div>
      </div>
      <div class="element-5">
        <div class="frame-14">
          <p class="text-wrapper-14">
            Des outils professionnels sélectionnés pour vous aider
            au quotidien
          </p>
          <p class="div-3">
            <span class="text-wrapper-15"
              >Progressivement, à l&#39;aune des avis du conseil
              scientifique, l&#39;équipe éditoriale complète la base
              de connaissances avec</span
            >
            <span class="span">
              des outils d&#39;aide à la pratique :
            </span>
            <span class="text-wrapper-15"
              >calculateurs, fiches d&#39;information patients,
              liens et contacts utiles...</span
            >
          </p>
        </div>
      </div>
    </div>
   
      <button class="BT" mat-raised-button>On vous dit tout sur notre ligne éditoriale</button>

  </div>