:root {
  --violet: rgba(76, 22, 144, 1);
  --gris-sombre: rgba(58, 58, 58, 1);
  --gris: rgba(126, 115, 150, 1);
  --bleu-duo: rgba(45, 109, 234, 1);
  --blanc: rgba(255, 255, 255, 1);
  --violet-lisible: rgba(148, 105, 203, 1);
  --violet-on: rgba(234, 45, 215, 1);
  --gris-clair: rgba(126, 115, 150, 0.1);
  --filet: rgba(76, 22, 144, 0.3);
  --orange: rgba(255, 141, 77, 1);
  --rose: rgba(250, 211, 195, 1);
  --rose-clair: rgba(255, 238, 232, 1);
  --rose-context: rgba(255, 234, 215, 1);
  --violet-clair: rgba(229, 217, 255, 1);
  --violet-bleu: rgba(67, 65, 168, 1);
  --h1-font-family: "Poppins-SemiBold", Helvetica;
  --h1-font-weight: 600;
  --h1-font-size: 48px;
  --h1-letter-spacing: 0px;
  --h1-line-height: normal;
  --h1-font-style: normal;
  --h2-font-family: "Poppins-SemiBold", Helvetica;
  --h2-font-weight: 600;
  --h2-font-size: 40px;
  --h2-letter-spacing: 0px;
  --h2-line-height: normal;
  --h2-font-style: normal;
  --h3-font-family: "Poppins-SemiBold", Helvetica;
  --h3-font-weight: 600;
  --h3-font-size: 32px;
  --h3-letter-spacing: 0px;
  --h3-line-height: normal;
  --h3-font-style: normal;
  --h4-font-family: "Poppins-SemiBold", Helvetica;
  --h4-font-weight: 600;
  --h4-font-size: 24px;
  --h4-letter-spacing: 0px;
  --h4-line-height: normal;
  --h4-font-style: normal;
  --h5-font-family: "Poppins-SemiBold", Helvetica;
  --h5-font-weight: 600;
  --h5-font-size: 20px;
  --h5-letter-spacing: 0px;
  --h5-line-height: normal;
  --h5-font-style: normal;
  --h6-font-family: "Poppins-SemiBold", Helvetica;
  --h6-font-weight: 600;
  --h6-font-size: 16px;
  --h6-letter-spacing: 0px;
  --h6-line-height: normal;
  --h6-font-style: normal;
  --accroches-font-family: "Inter-SemiBold", Helvetica;
  --accroches-font-weight: 600;
  --accroches-font-size: 18px;
  --accroches-letter-spacing: 0px;
  --accroches-line-height: 36px;
  --accroches-font-style: normal;
  --courant-font-family: "Inter-Regular", Helvetica;
  --courant-font-weight: 400;
  --courant-font-size: 16px;
  --courant-letter-spacing: 0px;
  --courant-line-height: 32px;
  --courant-font-style: normal;
  --courant-semibold-font-family: "Inter-SemiBold", Helvetica;
  --courant-semibold-font-weight: 600;
  --courant-semibold-font-size: 16px;
  --courant-semibold-letter-spacing: 0px;
  --courant-semibold-line-height: 24px;
  --courant-semibold-font-style: normal;
  --lien-font-family: "Inter-SemiBold", Helvetica;
  --lien-font-weight: 600;
  --lien-font-size: 16px;
  --lien-letter-spacing: 0px;
  --lien-line-height: normal;
  --lien-font-style: normal;
  --BT-font-family: "Inter-SemiBold", Helvetica;
  --BT-font-weight: 600;
  --BT-font-size: 16px;
  --BT-letter-spacing: 0px;
  --BT-line-height: normal;
  --BT-font-style: normal;
  --small-font-family: "Inter-Regular", Helvetica;
  --small-font-weight: 400;
  --small-font-size: 14px;
  --small-letter-spacing: 0px;
  --small-line-height: 24px;
  --small-font-style: normal;
  --small-semibold-font-family: "Inter-SemiBold", Helvetica;
  --small-semibold-font-weight: 600;
  --small-semibold-font-size: 14px;
  --small-semibold-letter-spacing: 0px;
  --small-semibold-line-height: 24px;
  --small-semibold-font-style: normal;
  --xsmall-font-family: "Inter-Regular", Helvetica;
  --xsmall-font-weight: 400;
  --xsmall-font-size: 12px;
  --xsmall-letter-spacing: 0px;
  --xsmall-line-height: 24px;
  --xsmall-font-style: normal;
  --categories-font-family: "Inter-Bold", Helvetica;
  --categories-font-weight: 700;
  --categories-font-size: 12px;
  --categories-letter-spacing: 1px;
  --categories-line-height: normal;
  --categories-font-style: normal;
  --tag-font-family: "Inter-SemiBold", Helvetica;
  --tag-font-weight: 600;
  --tag-font-size: 14px;
  --tag-letter-spacing: 0.5px;
  --tag-line-height: normal;
  --tag-font-style: normal;
  --legende-font-family: "Inter-Medium", Helvetica;
  --legende-font-weight: 500;
  --legende-font-size: 14px;
  --legende-letter-spacing: 0px;
  --legende-line-height: 24px;
  --legende-font-style: normal;
  --courant-guide-font-family: "Inter-Regular", Helvetica;
  --courant-guide-font-weight: 400;
  --courant-guide-font-size: 16px;
  --courant-guide-letter-spacing: 0px;
  --courant-guide-line-height: 28px;
  --courant-guide-font-style: normal;
  --courant-guide-semibold-font-family: "Inter-SemiBold", Helvetica;
  --courant-guide-semibold-font-weight: 600;
  --courant-guide-semibold-font-size: 16px;
  --courant-guide-semibold-letter-spacing: 0px;
  --courant-guide-semibold-line-height: 28px;
  --courant-guide-semibold-font-style: normal;
  --courant-guide-link-font-family: "Inter-SemiBold", Helvetica;
  --courant-guide-link-font-weight: 600;
  --courant-guide-link-font-size: 16px;
  --courant-guide-link-letter-spacing: 0px;
  --courant-guide-link-line-height: 28px;
  --courant-guide-link-font-style: normal;
  --ds: 0px 12px 24px 0px rgba(76, 22, 144, 0.05), 0px 1px 18px 0px rgba(0, 0, 0, 0.05);
  --variable-collection-violet-clair: rgba(173, 152, 199, 1);
  --variable-collection-violet-peps: rgba(172, 121, 235, 1);
  --variable-collection-violet-ok: rgba(171, 136, 216, 1);
  --variable-collection-vert: rgba(15, 187, 84, 1);
  --variable-collection-fluo: rgba(255, 241, 111, 1);
  --variable-collection-ancres: rgba(76, 22, 144, 0.1);
}
